<div class="container text-center">
    <h2 class="text-center">{{'teacher.list'|translate}}</h2>
    <table class="table table-bordered table-hover table-stripped">
        <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col">{{'shared.id'|translate}}</th>
            <th scope="col">{{'shared.name'|translate}}</th>
            <th scope="col">{{'shared.age'|translate}}</th>
            <th scope="col">{{'teacher.hireDate'|translate}}</th>
    
          </tr>
        </thead> 
        <tbody>
          <tr *ngFor="let teacher of teachers" class="text-center" (click)="detailsTeacher(teacher)">
            <th scope="row">{{teacher.id}}</th>
            <td>{{teacher.name}}</td>
            <td>{{teacher.age}}</td>
            <td>{{teacher.hireDate|date}}</td>
       
          </tr>
          
          
        </tbody>
      </table>
     
      <div class="btn-group horizontal-middle">
        <button type="button" class="btn btn-primary btn-lg" [disabled]="currentPage==0"
            (click)="First()">{{'shared.first'|translate}}</button>

        <button type=" button" class="btn btn-primary btn-lg" [disabled]="currentPage==0"
            (click)="Previous()">{{'shared.previous'|translate}}</button>

        <button type="button" class="btn btn-primary btn-lg" [disabled]="currentPage==totalPages -1 "
            (click)="Next()">{{'shared.next'|translate}}</button>

        <button type="button" class="btn btn-primary btn-lg" [disabled]="currentPage==totalPages -1"
            (click)="Last()">{{'shared.last'|translate}}</button>
    </div>

      <div  class="container text-center oprations">
          <button class="btn btn-success" routerLink="/add-teacher">{{'teacher.add.title'|translate}}</button>
          <button class="btn btn-primary" routerLink="/search-by-name">{{'teacher.search.title'|translate}}</button>
      </div>
      </div>
