<!--Start Container-->
<div class="container text-center">
    <h1 class="text-center" style="color:indianred;margin-top: 15px;margin-bottom:20px;margin-right: 150px;"> {{'EMPLOYEEINFO'|translate}}
    </h1>
  <hr/>
    <!--Start Form-->
    <form #teacherForm="ngForm" >
      <!--Start Row-->
    <div class="row" >
  
      <!--start Left-->
      <div class="col-lg-6 col-sm-12 left">
        
        <!--start personal Information-->
  

        <div class="card" style="width: 25rem;">
          <div class="card-header" style="background-color: #0390fc;color: white;">
            {{'EMPLOYEEPERSONALINFO'|translate}}
          </div>
          <div class="list-group list-group-flush">
            <label class="list-group-item personal">{{'EMPLOYEEFULLNAME'|translate}} : <span class="normal "></span></label>
            <label class="list-group-item personal">{{'AGE'|translate}} : <span class="normal"></span></label>
            <label class="list-group-item personal">{{'GENDER'|translate}}: <span class="normal"></span></label>
            <label class="list-group-item personal">{{'MARITALSTATUS'|translate}} : <span class="normal"></span></label>

          </div>
        </div>
    

  <hr/>   

    </div>      <!--End personal Information-->
 </div>
  <hr/>
      <button  routerLink="/list-employee" style="margin:auto;display:block;"  class="btn btn-secondary">{{'EMPLOYEELISTRETURNBUTTON'|translate}}</button>
    </form>
  
    <!--End form-->
     </div>
    
     <!--End Container-->